@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}

.navbar-expand .navbar-nav .nav-link {
  color: white;
}

.navbar-expand .navbar-nav .nav-link:hover {
  color: rgb(0, 164, 164);
}

section {
  padding: 100px;
}

section img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

section h1 {
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: rgb(0, 164, 164);
}

section p {
  font-size: 16px;
  font-weight: 400;
  color: black;
  margin: 15px 0;
  text-align: justify;
}

section button {
  padding: 10px 24px;
  margin-right: 25px;
  border: 1px solid rgb(0, 164, 164);
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

section .login {
  background-color: rgb(0, 164, 164);
  color: white;
}

section .login:hover {
  background-color: transparent;
  color: black;
}

section button:hover {
  background-color: rgb(0, 164, 164);
  color: white;
}

.form {
  padding: 150px 0;
  background: linear-gradient(90deg, #c33763 40%, #1d2571 100%);
}

.form .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  color: white;
}

form {
  width: 600px;
  height: 650px;
  box-shadow: 0px 0px 30px black;
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

form input,
form textarea {
  color: white;
  padding: 5px;
  padding-left: 20px;
  width: 50%;
  margin: 25px 0;
  border: 1px solid rgb(0, 164, 164);
  outline: none;
  background-color: transparent;
}

form .name {
  margin-left: 30px;
}

form .price {
  margin-left: 36px;
}

form .image {
  border: none;
  cursor: pointer;
}

form textarea {
  width: 100%;
  height: 150px;
}

form textarea::placeholder {
  color: white;
}

form .submit {
  padding: 0;
  display: block;
  text-align: center;
  margin: 70px auto 0;
  width: 120px;
  padding: 8px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}

form .submit:hover {
  background-color: rgb(0, 164, 164);
  color: black;
}
